* {
    margin: 0px;
    padding: 0px;

}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    height: 100vh;

    background-color: rgb(45, 132, 167);
}

.head-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 40%;
}

.head-card h1 {
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
}

.head-card button {
    background-color: orange;
    border-radius: 8px;
    color: #ffffff;
    outline: none;
    border: none;
    padding: 10px;
    font-weight: bold;

}
.person-container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.person-card {
    width: 50%;
    background-color: aqua;
    border-radius: 10px;
    display: flex;
    margin-bottom: 20px;

}

.left-card {
    background-color: green;
    font-size: 15px;
    color: #ffffff;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.right-card {
    font-size: 15px;
    margin-left: 0px;
    width: 100vw;


}

.location {
    background-color: #ffffff;
    padding: 5px;
    margin-bottom: 0px;
    padding-left: 20px;
    border-bottom-right-radius: 10px;
}

.name {
    background-color: rgb(168, 198, 225);
    padding: 5px;
    margin-bottom: 0px;
    padding-left: 20px;
    border-top-right-radius: 10px;

}